[submodule ".registry"]
	path = .registry
	url = https://github.com/pr2database/universe
	shallow = true
	branch = HEAD
[submodule "pr2database"]
	path = pr2database
	url = https://github.com/pr2database/pr2database
	shallow = true
	registered = true
